{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
 
<p style ="color: azure; text-align:center; font-size:300% ;">WELCOME TO YOUR DEBT TRACKER</p>
<br>
<br>
<h1 style ="color: white;">Your Debt: ${{x}}</h1>
<h1 style ="color: white;">You are Owed: ${{y}}</h1>
<br>
<br>
{% if x-y >= 0 %}
    <h1 style = "color: red ;">Net : ${{x-y}}</h1>
{% else %}
    <h1 style = "color: green ;">Net : ${{x-y}}</h1>
{% endif%}
<img src="{{ url_for('static', filename='images/plot.png') }}"> 
{% endblock %}